* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

html {
  height: 100vh;
  width: 100vw;
}

*::-webkit-scrollbar {
  width: 5px;
  z-index: 10;
  position: fixed;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #212121;
}

*::-webkit-scrollbar-track:hover {
  background-color: #212121;
}

*::-webkit-scrollbar-track:active {
  background-color: #212121;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #5d5d5d;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4a4a4a;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #424242;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  scroll-snap-type: y mandatory;
  position: relative;
  z-index: 1;
}

.logo-img {
  width: 32px;
  cursor: pointer;
  filter: brightness(80%);
  transition: 400ms cubic-bezier(0.4, 0.01, 0.165, 0.99) all;
}

.logo-img:hover {
  filter: brightness(100%);
}

.div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.div2 {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.div3 {
  display: flex;
  height: 75vh;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.yellow {
  background-color: rgb(55, 55, 55);
}

.blue {
  background-color: rgb(44, 44, 44);
}

.green {
  background-color: rgb(33, 33, 33);
}

.red {
  background-color: rgb(22, 22, 22);
}

h1 {
  font-size: 8rem;
  /* color: transparent;
  -webkit-text-stroke: 0.5px white; */
}

.glass {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 0 20px;
}

.blob {
  width: 440px;
  height: 440px;
  border-radius: 15rem;
  position: absolute;
  top: 50px;
  left: 50px;

  background: linear-gradient(
    141.57deg,
    #4eaceb73 19.08%,
    rgba(30, 136, 207, 0.349) 98.72%
  );
  background-blend-mode: normal;
  filter: blur(100px);
}

.text {
  font-size: 17rem;
  color: transparent;
  background-image: url('ocean2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text; /* For WebKit-based browsers */
  -webkit-text-fill-color: transparent; /* For WebKit-based browsers */
}

.dropdown {
  width: 100vw;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  top: 50px;
  position: fixed;
  transition: 400ms cubic-bezier(0.4, 0.01, 0.165, 0.99) all;
}

.dropdown-active {
  height: 100vh;
  display: block;
  position: fixed;
  top: 50px;
  opacity: 1;
}

.dropdown-disabled {
  height: 0vh;
  opacity: 0;
}

.toggle {
  color: white;
  width: 24px;
}

.line {
  height: 1px;
  width: 20px;
  margin: 8px;
  background-color: white;
  transition: 400ms cubic-bezier(0.4, 0.01, 0.165, 0.99) all;
}

.dropdown-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
}

.dropdown-menu-active {
  visibility: visible;
}

.dropdown-menu-item {
  font-size: 10rem;
  text-decoration: none;
  color: white;
  filter: brightness(80%);
  transition: 200ms cubic-bezier(0.4, 0.01, 0.165, 0.99) opacity,
    0s filter ease-in-out;
  opacity: 0;
}

.dropdown-menu > a:hover {
  filter: brightness(100%);
}

.dropdown-menu > a:nth-child(1) {
  transition-delay: 270ms;
}

.dropdown-menu > a:nth-child(2) {
  transition-delay: 350ms;
}

.dropdown-menu > a:nth-child(3) {
  transition-delay: 420ms;
}

.dropdown-menu > a:nth-child(4) {
  transition-delay: 490ms;
}

.dropdown-menu-item-active {
  opacity: 1;
}

.line-1 {
  transform: rotate(45deg) translate(3px, 3px);
}

.line-2 {
  transform: rotate(-45deg) translate(3px, -3px);
}
