* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* :root {
} */

::-webkit-scrollbar {
  display: none;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.logo-img {
  width: 32px;
  cursor: pointer;
  filter: brightness(80%);
  transition: 400ms cubic-bezier(0.4, 0.01, 0.165, 0.99) all;
}

.logo-img:hover {
  filter: brightness(100%);
}

.div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.blue {
  background-color: rgb(44, 44, 44);
}

.green {
  background-color: rgb(33, 33, 33);
}

.red {
  background-color: rgb(22, 22, 22);
}

h1 {
  font-size: 8rem;
  color: transparent;
  -webkit-text-stroke: 0.5px white;
}

.glass {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob {
  width: 440px;
  height: 440px;
  border-radius: 15rem;
  position: absolute;
  background: radial-gradient(
      63.62% 69.52% at 100% 0%,
      rgba(247, 214, 98, 0.8) 0%,
      rgba(247, 214, 98, 0.168) 52.08%,
      rgba(247, 214, 98, 0) 100%
    ),
    linear-gradient(
      208.42deg,
      #f0422a 7.46%,
      rgba(240, 88, 42, 0.18) 42.58%,
      rgba(240, 101, 42, 0) 64.13%
    ),
    radial-gradient(
      114.51% 122.83% at 0% -15.36%,
      #e74f6a 0%,
      rgba(231, 79, 106, 0.22) 66.72%,
      rgba(231, 79, 106, 0) 100%
    ),
    linear-gradient(
      333.95deg,
      rgba(83, 208, 236, 0.85) -7.76%,
      rgba(83, 208, 236, 0.204) 19.67%,
      rgba(138, 137, 190, 0) 35.42%
    ),
    radial-gradient(
      109.15% 148.57% at 4.46% 98.44%,
      #1b3180 0%,
      rgba(27, 49, 128, 0) 100%
    ),
    linear-gradient(141.57deg, #4eadeb 19.08%, rgba(78, 173, 235, 0) 98.72%);
  background-blend-mode: normal, normal, normal, normal, multiply, normal;
  filter: blur(100px);
}
